@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy: #132452;
  --orange: #fa8c41;
  --white: #ffffff;
}

body {
  color: var(--navy);
  background: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
